<% @categories.each do |category| %>
  <div class="card category">
    <div class="card-header">
      <%= category.name %>
    </div>
    <ul class="list-group list-group-flush">
      <% category.boards.each do |board| %>
        <li class="list-group-item d-flex justify-content-between">
          <span><%= link_to board.name, board %></span>
          <span class="pull-right text-secondary">
            <% if board.posts.length == 0 %>
              <em>This board has no posts</em>
            <% else %>
              <em>Last post <%= time_ago_in_words(board.posts.last.created_at) %> ago</em>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Boards</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <ul>
            <% category.boards.each do |board| %>
              <li><%= link_to board.name, board %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %> -->
